body {
    color: #000;
}

.slider {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider img {
    max-width: 100%;
    height: auto;
}
.slick-arrow{
    width: 1.875em;
    height: 1.875em;
    color: transparent;
    border-style: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    cursor: pointer;
}
.slick-prev{
    background-image: url(../img/angle-left-solid.svg);
}
.slick-next{
    background-image: url(../img/angle-right-solid.svg);
}
.pasos .paso {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 1em auto;
    border-style: solid;
}

.pasos .paso h4 {
    margin: 0.5em;
    text-align: right;
}

.pasos .paso a, p {
    margin: 0;
    text-align: right;
    color: #000;
    text-decoration: none;
}

.pasos .paso a:hover {
    text-decoration: none;
    color: #000;
}

.pasos .titulo {
    text-align: center;
}

@media screen and (min-width:47em) {
    .pasos {
        display: flex;
        flex-wrap: wrap;
    }

    .pasos .titulo {
        width: 100%;
    }
}

.titulo{
    margin-top: 2em;
}

.cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cursos .titulo {
    width: 100%;
    text-align: center;
}

.medios_de_pago {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}
.titulo-mp{
    text-align: center;
    margin-top: 100px;
}

.medios_de_pago .titulo {
    width: 100%;
    text-align: center;
    margin-top: 104px;

}
.medios_de_pago img{
    width: 150px;
    height: 100px;
}

.curso{
    position: relative;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center top;
    width: 200px;
    height: 199px;
    margin: 30px;
}

.precio{
    position: absolute;
    background-color: #353535;
    color: #fff;
    right: 0;
    top: 0;
}

.tiempo{
    position: absolute;
    top: 45%;
    font-size: 20px;
}

.nombre{
    position: absolute;
    top: 45%;
    right: 0;
    font-size: 20px;
}

.detalles{
    position: absolute;
    font-size: 11px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.compra{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #264678;
    padding: 10px 5px;
    color: #fff;
    display: inline-flex;
}
.compra:focus{
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.compra:hover{
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #1c3358 0 -3px 0 inset;
    background-color: #fff;
    color: #000000;
}
.compra:active{
    box-shadow: #D6D6E7 0 3px 7px inset;
}


.curso-1 {
    background-image: url(../img/html-logo.png);
    background-size: 100px 99.5px;
    background-position: top center;
    background-repeat: no-repeat;
}

.curso-2{
    background-image: url(../img/css-logo.png);
    background-size: 100px 99.5px;
    background-position: top center;
    background-repeat: no-repeat;
}

.curso-3{
    background-image: url(../img/js-logo.png);
    background-size: 100px 99.5px;
    background-position: top center;
    background-repeat: no-repeat;
}
.curso-4{
    background-image: url(../img/php-logo.png);
    background-size: 100px 99.5px;
    background-position: top center;
    background-repeat: no-repeat;
}
.curso-5{
    background-image: url(../img/mysql-logo.png);
    background-size: 100px 99.5px;
    background-position: top center;
    background-repeat: no-repeat;
}
.curso-6{
    background-image: url(../img/java-logo.png);
    background-size: 100px 99.5px;
    background-position: top center;
    background-repeat: no-repeat;
}
.cursos a{
    text-decoration: none;
}