#mensaje-error {
    color: red;
}

.titulo{
    margin:  3.125em 0.625em;
}

.linea_inscripcion{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5em 0em 0.5em 0.5em;
}
.linea_inscripcion input{
    height: 18px;
    border-radius: 5px;
    border-style:solid;
}

.linea_inscripcion * {
    width: 100%;
    margin: 0.05em;
}
.eliminar_persona, #agregar_persona{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #207178;
    background-color: #fff;
    font-weight: 600;
    font-size: 15px;
    border-color: #207178;
    border-style: solid;
    cursor: pointer;
}
.agregar_persona{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 0.625em;
}
.agregar_persona p{
    margin-left: 0.625em;
}
.monto-boton{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 10px;
}
.monto-boton span{
    background-color: #353535;
    color: #fff;
    padding: 3px;
    margin: 0px 10px;
}
#inscribirse{
    border-radius: 9px;
    border-style: none;
    padding: 0.625em;
    background-color: #264678;
    color: #fff;
}
#inscribirse:focus{
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
   
#inscribirse:hover{
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #1c3358 0 -3px 0 inset;
    background-color: #ffffff;
    color: #000000;
}
   
#inscribirse:active{
    box-shadow: #D6D6E7 0 3px 7px inset;
}
.monto-boton button:hover{
    background-color: #88c6cc;
    color: black;
    transition: 0.6s;
}
.titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.opciones{
    width: 9em;
    height: 2.6879999999999997em;
    border-color: #207178;
    border-style: solid;
    color: #207178;
    background-color: #fff;
    border-radius: 0.313em;
}

.clicked{
    background-color: #207178;
    color: #fff;
}

.pop-ins{
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #78362C;
    color: #fff;
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 3px 6px 27px 1px rgb(166, 166, 166);
    -moz-box-shadow: 3px 6px 27px 1px rgb(166, 166, 166);
    box-shadow: 3px 6px 27px 1px rgba(166,166,166,0.78);
    border-radius: 5px;
}
.btn-aceptar{
    background-color: #264678;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    border-radius: 5px;
}
.btn-aceptar:focus{
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.btn-aceptar:hover{
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #1c3358 0 -3px 0 inset;
    background-color: #ffffff;
    color: #000000;
}
.btn-aceptar:active{
    box-shadow: #D6D6E7 0 3px 7px inset;
}
@media screen and (min-width: 47em) {
    .linea_inscripcion {
        flex-wrap: nowrap;
    }
    .pop-ins{
        width: 25%;
        height: 20%;
    }
}